


/* GLOBALS */

a{
    text-decoration: none;
    color: white;
}
button{
    cursor: pointer;
    padding: 13px 30px;
    border-radius: 5px;
    font-size: 18px;
}
button:hover{
    color: black;
    background-color: #B7B7B7;
}


/* ================== */


/* Header */
header{
   
   background-position: center center;
}
body{
    top: 0;
    left: 0;
    background-image: url(https://logicsforest.com/themeforest/idea-homes/ideahomes_demo_files/images/banner-4.jpg) ;
    background-position: center  top;
    background-repeat: no-repeat    ;
}
.header-text{
    left: 15%;
    top: 45vh;
}
.gear{

    transition: .5s;
    cursor: pointer;
    left: -15%;
    top: 45vh;
    width: calc(15% + 55px);
}
.gif-container{
    height: 8vh;
    background-color: gray;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

}
.setting-panel{
    background-color: black;
    height: 8vh;
    line-height: 8vh;
    padding-left: 30px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    
}

.color{
    margin: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: rebeccapurple;

    
}
.gear:hover{
    left:0%;
}


/* Top nav */


.top-nav a:hover{
    color: #ed2a28;
}
.top-nav li{
    border-right: 1px solid white;
    padding: .1rem 1rem; 
}

/* ======== */


/* Nav */
nav{
    height: 12vh;
    background-color: gray;
    position: sticky;
    top: 0;

    z-index: 9  ;


}

.nav-menu{
    bottom: 0vh;
}
.menu:hover > a {
    color: #ed2a28;
}

.menu{
    padding-bottom: 4vh;
}
.social-media i{
    font-size: 30px;

}
.menu:hover .submenu{
opacity: 1;
visibility: visible;
transform: translateY(2vh);
}
#home-submenu{
    left: 0;
}
#about-submenu{
    left: 10%;
}

.submenu{
    transition: 0.3s;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    bottom: -46vh;
    height: 48vh;
  
    width: 15%;

    background-color: aqua;
}
.submenu li{
    cursor: pointer;
    transition: .3s;
    margin-bottom: 2px;
    padding: .5rem 1rem;
}
.submenu li:hover{
    background-color: #ed2a28;
}
.submenu li:hover a{
    color: white !important;

}

/* ======== */



/* Section about */

.about{
    height: 90vh;
    padding-top: 20vh;
    

}
.title{
    font-size: 32px;
}
.desc{
    font-size: 14px;
    line-height: 20px;
}
.quote{
    border-left: 1px solid gray;
}
.quote::before{
    content: "\"";
    font-size: 80px;
    color: gray;
    position: absolute;
    top: 0rem;
    left: 0.5rem;

}


/* ================= */

/* search section */
.search{
    padding-top: 10vh;
    background-image: url(https://logicsforest.com/themeforest/idea-homes/ideahomes_demo_files/images/property-search.jpg);
}
.search input, select{
    border: 1px solid black;
    width: 100%;
    padding: 10px ;
    margin-top: 10px;
    background-color: rgba(240, 240, 240,0.2);
}
.search label {
    color: white;
    
}
.search-grid{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
row-gap: 20px;

column-gap: 10px;

}
.fc{
    grid-column: 1 / span 2;

}
.sc{
    grid-column: 3/ span 2;
}
.tr{
    grid-column: 5/ span 2;
}
.fr{
    grid-column: 7 / span 2;
}
.range{
    grid-column: 5/span 3;

}

/* ============== */
